<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  Log user information

  <ion-item>
    <ion-label>ID</ion-label>
    <ion-input [(ngModel)]="id"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Name</ion-label>
    <ion-input [(ngModel)]="name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input [(ngModel)]="email"></ion-input>
  </ion-item>
  <br />
  <ion-button color="primary" (click)="logUser()">Log User</ion-button>
  <ion-button color="danger" (click)="crash()">Force a Crash</ion-button>
</ion-content>
